@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

$font-quicksand: 'Quicksand', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$background: #FFFFFF;
$secundary-color: #FDF1EB;
$secundary-color1: #ED7839;
$title-color: #4E4E4E;
$text-color: #5C5C5C;
$text-header-color: #725C5C;
$text-topics-color: #4D4D4D;


